/* Header.css */
.head {
  /* Add styles for the header container */
}

.horizontal-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust margin as needed */
}

.ImgDev {
  margin-top: ;
  width: 100px; /* Adjust the width of each ImgDev div */
  height: 100vh; /* Adjust the height of each ImgDev div */
  background-color: #3d1f1f; /* Add a background color or other styles */
  margin-right: 10px; /* Adjust margin as needed */
}
