/* BaiHuvi.css */

.Bai-body {
  display: flex;
  margin-top: 100px;
}

.leftBar {
  flex: 1;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.rightBar {
  flex: 1;
  background-color: #555;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.horizontal-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ImgDev {
  flex: 1; /* Equal width for each ImgDev */
  height: 100vh;
  background-color: #3d1f1f;
  margin-right: 10px;
}

.Bai-body h1 {
  margin-bottom: 20px;
}

.Bai-body span {
  display: block;
  margin-bottom: 10px;
}

.Bai-body a {
  text-decoration: none;
  color: #fff;
  background-color: #133952;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.Bai-body a:hover {
  background-color: #0a1d34;
}
