/* BaiHuvi.css */

.Bai-body {
  display: flex;
  margin-top: 100px;
}

.leftBar, .rightBar {
  flex: 1;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.leftBar {
  background-color: #333;
}

.rightBar {
  background-color: #555;
}

.horizontal-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ImgDev {
  flex: 1;
  height: 400px;
  background-color: #6DD7FD;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputAdd{
}
.Bai-body h1 {
  margin-bottom: 20px;
}

.Bai-body span {
  margin-bottom: 10px;
}

.Bai-body a {
  text-decoration: none;
  color: #fff;
  background-color: #133952;
  padding: 8px 16px;
  border-radius: 4
}